html {
    font-size: 10px;
}

//colors
$grey:#6d6e71;
$w-grey:#a7a9ac;
$white:white;
$gold:#c49a6c;
$brown:#4d4545;
$black:black;
$form-b:#e9e5e4;
$form-border:#a7a9ac;
$form:#f3efee;
$dark-blue:#25383f;
$red-f:#d26441;
$shadow:0 0 10px rgba(0, 0, 0, 0.5);
$gradient:rgba(82, 168, 40, 1) 0%,rgba(117, 92, 30, 1) 100%;
// fonts
$fs-s:1.4em;
$fs-b:5em;
$fs-form:3.6em;
$fs-m:2.5em;